.weather__forecast-slider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--slider-heigh);
  overflow: hidden;
  background-color: transparent;
}

.slider__button {
  position: relative;
  min-width: 56px;
  width: 56px;
  height: 48px;
  background: var(--bg-opacity);
  border-radius: var(--radius);
  line-height: 20px;
  cursor: pointer;
  color: rgba(84, 84, 84, 1);
  transition: color 0.3s ease, background-color 0.3s ease;
  &:hover {
    background-color: #dadada;
  }
}

.weather__forecast-slider .slider__button:last-child {
  right: 0;
}

.icon-slider {
  position: absolute;
  width: 9px;
  height: 18px;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.slider__button:last-child .icon-slider {
  transform: translate(-50%, -50%) rotate(180deg);
}
.slider__list {
  display: flex;
  justify-content: space-between;
  width: 880px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 1px,
    black calc(100% - 18px),
    transparent calc(100%)
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 1px,
    black calc(100% 100% - 18px),
    transparent calc(100%)
  );
}

.slider__list-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 16px;
  margin-right: 16px;
  border-radius: var(--radius);
  background-color: var(--bg-opacity);
  color: var(--color-font-slider-el);
  height: var(--slider-heigh);
  text-wrap: nowrap;
  white-space: nowrap;
  gap: 16px;
}
