.weather__forecast-slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--slider-heigh);
  overflow: hidden;
  background-color: transparent;
}

@media (width <= 375px) {
  .weather__forecast-slider {
    max-width: 311px;
  }
}

.slider__button {
  position: relative;
  min-width: 56px;
  height: 48px;
  background: var(--button-bg);

  border-radius: var(--radius);

  cursor: pointer;
  color: rgba(245, 244, 244, 0.4);
  transition: opacity 0.3s ease;
}
.slider__button-left,
.slider__button-right {
  --size-icon: 24px;
  position: absolute;
  transform: translate(-50%, -50%);
  width: var(--size-icon);
  height: var(--size-icon);
}
@media (width <= 640px) {
  .slider__button-left,
  .slider__button-right {
    --size-icon: 16px;
  }
}
.slider__button-right {
  transform: translate(-50%, -50%) rotate(180deg);
}
.slider__button:disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}
@media (width <= 640px) {
  .slider__button {
    min-width: 40px;
    height: 32px;
  }
}
@media (width <= 375px) {
  .slider__button {
    min-width: 40px;
    height: 32px;
  }
}

.weather__forecast-slider .slider__button:last-child {
  right: 0;
}

.icon-slider {
  position: absolute;
  width: 9px;
  height: 18px;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
@media (width <= 375px) {
  .icon-slider {
    width: 6px;
    height: 16px;
  }
}

.slider__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 1px,
    black calc(100% - 18px),
    transparent calc(100%)
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 1px,
    black calc(100% 100% - 18px),
    transparent calc(100%)
  );
  gap: 16px;
  margin: 0 32px;
}
@media (width <= 1279px) {
  .slider__list {
    margin: 0 32px;
  }
}
@media (width >= 886px) {
  .slider__list-element {
    min-width: 157px;
  }
  .slider__list-element *:not(:last-child) {
    margin-right: 16px;
  }
}
@media (width <= 886px) {
  .slider__list {
    width: 630px;
    margin: 0 24px;
    gap: 12px;
  }
  .slider__list-element *:not(:last-child) {
    margin-right: 16px;
  }
}
@media (width <= 768px) {
  .slider__list {
    width: 512px;
  }
}
@media (width <= 640px) {
  .slider__list {
    width: 464px;
    margin: 0 16px;
    gap: 8px;
  }
}
@media (width <= 375px) {
  .slider__list {
    width: 199px;
  }
}
.slider__list-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 16px;
  border-radius: var(--radius);
  background-color: var(--bg-opacity);
  color: var(--color-font-slider-el);
  height: var(--slider-heigh);
  text-wrap: nowrap;
  white-space: nowrap;
  line-height: 20px;
}
@media (width <= 886px) {
  .slider__list-element *:not(:last-child) {
    margin-right: 16px;
  }
}
@media (width <= 768px) {
  .slider__list-element {
    flex-direction: column;
    width: fit-content;
    height: 136px;
    padding: 16px;
    font-size: var(--font-size-m);
  }
}

@media (width <= 768px) {
  .slider__list-element *:not(:last-child) {
    margin-right: 0;
  }
}
@media (width <= 640px) {
  .slider__list-element {
    flex-direction: row;
    height: 48px;
    min-width: 118px;
    width: 118px;
  }
  .slider__list-element *:not(:last-child) {
    margin-right: 8px;
  }
  .slider__list-element img {
    width: 24px;
    height: 24px;
  }
}
@media (width <= 375px) {
  .slider__list-element {
    flex-direction: column;
    align-items: center;
    min-width: 55px;
    height: 104px;
    padding: 12px 12px;
    font-size: var(--font-size-m);
    line-height: var(--font-size-m);
  }
  .slider__list-element *:not(:last-child) {
    margin-right: 0;
  }
}
