.header {
  min-width: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__search {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  width: 506px;
  height: 48px;
  background: var(--bg-input);
  border-radius: var(--radius);
  transition: all 0.2s ease;
  &:hover {
    background: var(--bg-input-hover);
  }
}
.header__search input {
  width: 434px;
  color: var(--color-input-typing);
  font-size: 20px;
  line-height: 24px;
}
.header__search .header__search:focus-within {
  background: var(--bg-input-hover);
}
