.header {
  width: 112px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
.header__logo:focus-visible {
  outline: 2px var(--color-accesability) solid;
}
.header__search {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  width: 506px;
  height: 48px;
  background: var(--bg-input);
  border-radius: var(--radius);
  transition: all 0.2s ease;
}

.header__search:hover {
  background: var(--bg-input-hover);
}
.header__search input {
  color: var(--color-input-typing);
  font-size: var(--font-size-x);
  line-height: 24px;
}
.has-text,
.header__search .header__search:focus-within {
  background-color: var(--bg-input-hover);
}
.header__search .icon {
  color: #545454;
}
.header__search .icon:hover {
  color: #202020;
}

@media (max-width: 886px) {
  .header__search {
    width: 601px;
  }
}
@media (max-width: 768px) {
  .header__search {
    width: 483px;
  }
  .header {
    height: 96px;
  }
}
@media (max-width: 640px) {
  .header__search {
    width: 409px;
    min-width: 263px;
    height: 32px;
    padding: 8px 12px;
  }
  .header__logo img {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 375px) {
  .header__search {
    width: 409px;
  }
  .header {
    height: 64px;
  }
}
