.header {
  min-width: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__search {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  width: 506px;
  height: 48px;
  background: var(--bg-opacity);
  border-radius: var(--radius);
  transition: all 0.2s ease;
}
.header__search input {
  width: 434px;
  color: inherit;
  color: var(--color-input-typing);
  font-size: 20px;
  line-height: 24px;
}
.header__search:hover {
  background: var(--bg-input-active);
}

::placeholder {
  font-family: inherit;
  color: var(--color-font-secondary);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  opacity: 1;
}
