.weather {
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-template-areas:
    'header  header'
    'sidebar  sidebar'
    'footer  footer';
  gap: 26px calc(var(--margin) / 2);
  justify-content: center;
}
/* 886px */
@media (max-width: 1023px) {
  .weather {
    grid-template-columns: 100%;
    grid-template-areas:
      'header '
      'header'
      'sidebar '
      'footer ';
    gap: 48px;
  }
}

@media (max-width: 640px) {
  .weather {
    gap: 32px;
  }
}
@media (max-width: 375px) {
  .weather {
    grid-template-columns: 100%;
    gap: 32px;
  }
}
