.weather {
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-template-areas:
    'header  header'
    'sidebar  sidebar';
  gap: 26px calc(var(--margin) / 2);
  justify-content: center;
}

@media (width >= 1024px) {
  .weather {
    gap: 64px calc(var(--margin) / 2);
  }
}
@media (width < 1024px) {
  .weather {
    grid-template-columns: 1fr;
    grid-template-rows: 306px 404px auto;
    grid-template-areas:
      'header '
      'header '
      'sidebar ';
    gap: 48px;
  }
}
@media (width <= 768px) {
  .weather {
    grid-template-rows: 306px 404px 191px;
  }
}

@media (width <= 640px) {
  .weather {
    gap: 32px;
    grid-template-rows: 184px 304px auto;
  }
}

@media (width<= 342px) {
  .weather {
    gap: 8px;
    grid-template-rows: 184px 462px 130px;
  }
}
