.weather {
  display: grid;
  grid-template-columns: 534px 506px;
  grid-template-areas:
    'header  header'
    'sidebar  sidebar'
    'footer  footer';
  gap: var(--margin) calc(var(--margin) / 2);
}
