.weather__details {
  --size-card-h: 196px;
  --size-card-w: 158px;
}

.weather__cards {
  display: grid;
  grid-area: header;
  grid-template-columns: repeat(3, var(--size-card-w));
  grid-template-rows: repeat(2, var(--size-card-h));
  gap: calc(var(--margin) / 2);
  justify-content: center;
  width: 100%;
}

.weather__card {
  display: grid;
  position: relative;
  grid-template-rows: 20px 32px 32px 1fr;
  gap: 16px;
  justify-items: center;
  padding: calc(var(--margin) / 2);
  border-radius: var(--radius);
  background: var(--bg-opacity);
  color: var(--color-font-details);
}

.weather__card-title {
  font-size: var(--font-size-m);
  font-weight: 700;
  text-align: center;
}

.weather__card-value {
  display: flex;
  justify-content: end;
  align-items: center;
  --size: 32px;
  font-size: var(--size);
}

.wheater__card-content {
  display: grid;
  gap: 8px;
  height: 100%;
}
.wheater__card-content:not(:has(.weather__card-bar)) {
  margin-top: 4px;
}
.weather__card-percent,
.weather__card-state {
  font-size: var(--font-size-l);
  line-height: var(--font-size-l);
}

.weather__card-state {
  display: flex;
  justify-content: center;
}
.weather__card-percent {
  display: flex;
  justify-content: space-between;
}

.weather__card-bar {
  position: relative;

  justify-content: center;
  text-align: center;
  --thumb-size: 8px;
  width: 126px;

  height: var(--thumb-size);
  border-radius: var(--radius);
  overflow: hidden;
  background-color: rgba(218, 218, 218, 0.4);
  mask-image: linear-gradient(to right, transparent 0%, white 0%, white 100%, transparent 100%);
}

.progress-line {
  position: relative;
  height: var(--thumb-size);
  width: 100%;
}
.dangers {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: radial-gradient(
    50% 9453.13% at 50% 50%,
    rgba(84, 84, 84, 0.4) 0%,
    rgba(138, 138, 138, 0.4) 45.12%,
    #dadada 100%,
    rgba(218, 218, 218, 0.4) 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    white 10%,
    white 90%,
    transparent 100%
  );
  mask-image: linear-gradient(to right, transparent 0%, white 10%, white 90%, transparent 100%);
}

.thumb {
  position: relative;
  border-radius: 50%;
  width: var(--thumb-size);
  height: var(--thumb-size);
}
.thumb::after {
  content: ' ';
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: var(--thumb-size);
  height: var(--thumb-size);
  z-index: 1;
}
.thumb::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: calc(var(--thumb-size) + 4px);
  width: calc(var(--thumb-size) + 4px);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 0;

  background-color: rgba(255, 255, 255, 0.1);

  -webkit-mask-image: radial-gradient(radial-gradient(at 0px center, white, transparent 100%));
  mask-image: radial-gradient(radial-gradient(at 0px center, white, transparent 100%));
}
.icon-weather {
  --size: 32px;
  width: var(--size);
  height: var(--size);
}
@media (min-width: 1279px) {
  .weather__details {
    width: 506px;
  }
}
@media (max-width: 1023px) {
  .weather__card {
    padding: 16px;
  }

  .weather__cards {
    --size-card-w: 163px;
    gap: 12px;
  }
}
@media (max-width: 886px) {
}
@media (max-width: 768px) {
  .weather__details {
    margin-top: 0;
  }
  .weather__cards {
    --size-card-w: 163px;
  }

  .wheater__card-content {
    min-height: 30%;
  }
}
@media (max-width: 640px) {
  .weather__cards {
    --size-card-w: 128px;
    --size-card-h: 148px;
    gap: 8px;
  }
  .weather__card {
    grid-template-rows: 16px 24px 22px 1fr;
    gap: 12px;
    padding: 12px;
  }
  .icon-weather {
    --size: 24px;
  }
  .weather__card-title {
    line-height: 16px;
  }
  .weather__card-value {
    --size: 22px;
  }
  .weather__card-bar {
    --thumb-size: 6px;
    width: 104px;
  }
  .wheater__card-content {
    gap: 6px;
  }
}
@media (max-width: 449px) {
  .weather__cards {
    --size-card-w: 98px;
    --size-card-h: 148px;
  }
  .weather__card-bar {
    width: 74px;
  }
  .weather__card {
    padding: 10px;
  }
  .wheater__card-content:not(:has(.weather__card-bar)) {
    margin-top: 2px;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .weather__details {
    margin-top: 0;
  }
  .weather__cards {
    --size-card-w: 98px;
    --size-card-h: 148px;
  }

  .weather__card {
    padding: 12px;
  }
}

@media (max-width: 320px) {
  .weather__cards {
    grid-template-columns: repeat(2, var(--size-card-w));
    grid-template-rows: repeat(2, var(--size-card-h));
    min-height: 460px;
  }
}
