.weather__details {
  --size-card-h: 196px;
  --size-card-w: 158px;
}

@media (width <= 768px) {
  .weather__details {
    margin-top: 0;
  }
}
@media (width <= 375px) {
  .weather__details {
    margin-top: 0;
  }
}
@media (width <= 342px) {
  .weather__cards {
    grid-template-columns: repeat(2, var(--size-card-w));
    grid-template-rows: repeat(2, var(--size-card-h));
    min-height: 460px;
  }
}

.weather__cards {
  --card-bg: rgba(245, 244, 244, 0.4);
  display: grid;
  grid-area: header;
  grid-template-columns: repeat(3, var(--size-card-w));
  grid-template-rows: repeat(2, var(--size-card-h));
  gap: calc(var(--margin) / 2);
  justify-content: center;
  align-items: center;
}
@media (width < 1024px) {
  .weather__cards {
    --size-card-w: 163px;
    gap: 12px;
  }
}
@media (width < 768px) {
  .weather__cards {
    --size-card-w: minmax(128px, 163px);
  }
}
@media (width <= 640px) {
  .weather__cards {
    --size-card-w: minmax(98px, 128px);
    --size-card-h: 148px;
    gap: 8px;
  }
}

@media (width <= 375px) {
  .weather__cards {
    --size-card-w: 98px;
  }
}
@media (width <=342px) {
  .weather__cards {
    grid-area: header;
    grid-template-columns: repeat(2, var(--size-card-w));
    grid-template-rows: repeat(3, var(--size-card-h));
  }
}

.weather__card {
  display: grid;
  position: relative;
  grid-template-rows: 20px 32px 32px 1fr;
  height: 100%;
  width: 100%;
  gap: 16px;
  justify-items: center;
  padding: calc(var(--margin) / 2);
  border-radius: var(--radius);
  background-color: var(--card-bg);
  color: var(--color-font-details);
  z-index: 0;
}
@media (width < 1024px) {
  .weather__card {
    padding: 16px;
  }
}

@media (width <= 640px) {
  .weather__card {
    grid-template-rows: 16px 24px 22px 1fr;
    gap: 12px;
    padding: 12px;
    max-width: 128px;
  }
}
@media (width <= 375px) {
  .weather__card {
    padding: 12px;
  }
}

.weather__card-title {
  font-size: var(--font-size-m);
  font-weight: 700;
  text-align: center;
}
@media (width <= 640px) {
  .weather__card-title {
    line-height: 16px;
  }
}

.weather__card-value {
  display: flex;
  justify-content: end;
  align-items: center;
  --size: 32px;
  font-size: var(--size);
}
@media (width <= 640px) {
  .weather__card-value {
    --size: 22px;
  }
}

.wheater__card-content {
  display: grid;
  gap: 8px;
  height: 100%;
}

@media (width <= 640px) {
  .wheater__card-content {
    gap: 6px;
  }
}
@media (width <= 449px) {
  .wheater__card-content:not(:has(.weather__card-bar)) {
    margin-top: 2px;
    text-align: center;
  }
}

.wheater__card-content:not(:has(.weather__card-bar)) {
  margin-top: 4px;
}
.weather__card-percent,
.weather__card-state {
  font-size: var(--font-size-l);
  line-height: var(--font-size-l);
}

.weather__card-state {
  display: flex;
  justify-content: center;
}
.weather__card-percent {
  display: flex;
  justify-content: space-between;
}

.weather__card-bar {
  --width-bar: 126px;
  --thumb-size: 8px;
  position: relative;
  justify-content: center;
  text-align: center;
  width: var(--width-bar);
  height: var(--thumb-size);
  border-radius: var(--radius);
  mask-image: linear-gradient(to right, transparent 0%, white 0%, white 100%, transparent 100%);
}

@media (width <= 886px) {
  .weather__card-bar {
    --width-bar: 131px;
    --thumb-size: 8px;
  }
}
@media (width < 768px) {
  .weather__card-bar {
    --width-bar: 131px;
    --thumb-size: 8px;
  }
}
@media (width <= 640px) {
  .weather__card-bar {
    --width-bar: 104px;
    --thumb-size: 6px;
  }
}
@media (width <= 449px) {
  .weather__card-bar {
    --width-bar: 74px;
  }
}

.progress-line {
  position: absolute;
  left: 0;
  height: var(--thumb-size);
  width: calc(var(--width-bar) - var(--thumb-size) / 1.5);
}
.dangers {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background: radial-gradient(
    50% 200% at 50% 50%,
    rgba(84, 84, 84, 0.4) 0%,
    rgba(138, 138, 138, 0.4) 28.12%,
    #dadada 98%,
    rgba(218, 218, 218, 0.4) 100%
  );
}

.thumb {
  position: relative;
  width: var(--thumb-size);
  height: var(--thumb-size);
  background-color: rgba(245, 244, 244, 1);
  border-radius: 50%;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thumb::before {
  content: '';
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: calc(var(--width-bar) * 2);
  min-height: calc(var(--width-bar) * 2);

  background-color: var(--card-bg);
  border-radius: 50%;
  z-index: -1;

  -webkit-mask-image: radial-gradient(
    circle calc(var(--thumb-size) / 2 + 4px) at center,
    transparent 100%,
    black 100%
  );
  mask-image: radial-gradient(
    circle calc(var(--thumb-size) / 2 + 2px) at center,
    transparent 100%,
    black 100%
  );
}

.icon-weather {
  --size: 32px;
  width: var(--size);
  height: var(--size);
}
@media (width <= 640px) {
  .icon-weather {
    --size: 24px;
  }
}
