.footer {
  --color-font: rgba(245, 244, 244, 0.8);
  display: flex;
  grid-area: footer;
  justify-content: center;
  margin-top: -26px;
  padding-bottom: var(--margin);
  font-weight: 400;
  font-size: var(--font-size-m);
  color: var(--color-font);
}
.footer a {
  color: var(--color-font);
  text-decoration: none;
  height: 20px;
  border-bottom: 1px solid var(--color-font);
}
.footer a:focus-visible {
  outline: 2px var(--color-accesability) solid;
}
.slider__button[disabled] {
  pointer-events: none;
}
.slider__button:focus-visible {
  outline: 2px var(--color-accesability) solid;
}

@media (max-width: 886px) {
  .footer {
    margin-top: -48px;
  }
}
@media (max-width: 768px) {
  .footer {
    margin-top: -64px;
  }
}
@media (max-width: 640px) {
  .footer {
    margin-top: -54px;
  }
}
@media (max-width: 375px) {
  .footer {
    margin-top: -52px;
  }
}
