.footer {
  --color-font: rgba(245, 244, 244, 0.8);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: var(--margin);
  font-weight: 400;
  font-size: var(--font-size-m);
  color: var(--color-font);
  height: 84px;
}

@media (width <= 640px) {
  .footer {
    height: 48px;
    padding: 10px !important;
  }
}

.footer a {
  color: var(--color-font);
  text-decoration: none;
  text-decoration: underline;
}

.footer a:focus-visible {
  outline: 2px var(--color-accesability) solid;
}
.slider__button[disabled] {
  pointer-events: none;
}
.slider__button:focus-visible {
  outline: 2px var(--color-accesability) solid;
}
