.weather__forecast {
  display: grid;
  grid-area: sidebar;
  /* height: 192px; */
}
@media (width >= 1024px) {
  .weather__forecast {
    grid-template-rows: 32px 64px;
    gap: 32px;
  }
}
@media (width <= 1023px) {
  .weather__forecast {
    grid-template-rows: 32px 64px;
    gap: 24px;
  }
}
@media (width < 768px) {
  .weather__forecast {
    grid-template-rows: 32px 136px;
    gap: 24px;
  }
}
@media (width <= 640px) {
  .weather__forecast {
    grid-template-rows: 22px 46px;
    gap: 16px;
  }
}
@media (width <= 375px) {
  .weather__forecast {
    grid-template-rows: 22px 104px;
    gap: 16px;
  }
}
.weather__forecast-header {
  display: flex;
  height: 32px;
  gap: var(--margin);
  font-weight: 700;
  align-items: center;
}
@media (width <= 1023px) {
  .weather__forecast-header {
    height: 32px;
  }
}
@media (width <= 640px) {
  .weather__forecast-header {
    height: 22px;
  }
}
.weather__forecast-header-title {
  font-size: var(--font-size-xl);
}

.weather__forecast-header-button {
  font-size: var(--font-size-m);
  color: var(--button-color);
  cursor: pointer;

  transition: 0.3s ease, color 0.3s ease;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: transparent;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
}
@media (width >= 1024px) {
  .weather__forecast-header-button {
    margin-top: 8px;
  }
}
@media (width <= 1023px) {
  .weather__forecast-header-button {
    margin-top: 8px;
  }
}
@media (width <= 640px) {
  .weather__forecast-header-button {
    margin-top: 0;
  }
}
@media (width <= 375px) {
  .weather__forecast-header-button {
    height: 24px;
    text-align: center;
  }
}

.weather__forecast-header-button:hover {
  text-decoration-color: inherit;
}
.weather__forecast-header-button.active-button {
  pointer-events: none;
}
.weather__forecast-header-button:focus-visible:not(:has(.active-button:focus-visible)) {
  outline: 2px var(--color-accesability) solid;
}
