.weather__forecast {
  display: grid;
  grid-area: sidebar;
  height: 192px;
  padding: var(--margin) 0;
  gap: var(--margin);
}
.weather__forecast-header {
  display: flex;
  height: 32px;
  gap: var(--margin);
  font-weight: 700;
  align-items: flex-end;
}
.weather__forecast-header-title {
  font-size: var(--font-size-xl);
  line-height: 32px;
}

.weather__forecast-header-button {
  font-size: var(--font-size-m);
  color: var(--button-color);
  cursor: pointer;

  transition: 0.3s ease, color 0.3s ease;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: transparent;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
}
.weather__forecast-header-button:hover {
  text-decoration-color: inherit;
}
.weather__forecast-header-button.active-button {
  pointer-events: none;
}
.weather__forecast-header-button:focus-visible:not(:has(.active-button:focus-visible)) {
  outline: 2px var(--color-accesability) solid;
}
@media (min-width: 886px) {
}

@media (max-width: 886px) {
  .weather__forecast {
    height: 146px;
    padding: 0;
    gap: 0;
  }
}
@media (max-width: 768px) {
  .weather__forecast {
    height: 231px;
    padding: 0;
    gap: 0;
  }
}
@media (max-width: 640px) {
  .weather__forecast {
    height: 116px;
  }
  .weather__forecast-header {
    height: 28px;
    line-height: 34px;
  }
  .weather__forecast-slider {
    margin-top: -25px;
  }
}
@media (max-width: 375px) {
  .weather__forecast {
    width: 343px;
    height: 174px;
  }
  .weather__forecast-header {
    height: 14px !important;
  }
  .weather__forecast-header-button {
    height: 20px;
    text-align: center;
  }
  .weather__forecast-header-title {
    line-height: 8px !important;
  }
  .weather__forecast-slider {
    margin-top: -9px !important;
  }
}
