.weather__forecast {
  --slider-heigh: 64px;
  display: grid;
  grid-area: sidebar;
  height: 192px;
  padding: var(--margin) 0;
  gap: var(--margin);
}
.weather__forecast-header {
  display: flex;
  height: 32px;
  gap: var(--margin);
  font-weight: 700;
  align-items: flex-end;
}
.weather__forecast-header-title {
  font-size: 24px;
  line-height: 32px;
}

.weather__forecast-header-button {
  font-size: 16px;
  color: var(--button-color);
  cursor: pointer;
  transition: 0.3s ease, color 0.3s ease;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: transparent;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
}
.weather__forecast-header-button:hover {
  text-decoration-color: inherit;
}
.weather__forecast-header-button.active-button {
  pointer-events: none;
}
.weather__forecast-header-button:focus-visible:not(:has(.active-button:focus-visible)) {
  outline: 2px var(--color-accesability) solid;
}
