body {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--margin) calc(var(--margin) / 2);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  font-variant-numeric: lining-nums proportional-nums;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  color: var(--color-font-main);
  background-image: url('../public/images/bgWeather.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--color-font-secondary);
  overflow-x: hidden;
}
@media (width<= 886px) {
  body {
    overflow-x: none;
  }
}
@media (width < 640px) {
  body {
    padding: var(--margin);
  }
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  /* background-color: rgba(255, 255, 255, 0.1); */
  background-color: rgba(112, 112, 112, 0.1);
  backdrop-filter: blur(25px);
  border-radius: var(--radius);
  min-width: 1120px;
  width: 1120px;
  height: 860px;
}
@media (width<= 1279px) {
  .container {
    min-width: 822px;
    width: 1120px;
  }
}
@media (width >= 1024px) {
  .container {
    max-width: 1120px;
    width: 960px;
  }
}
@media (width<= 1023px) {
  .container {
    height: 100%;
  }
}
@media (width< 886px) {
  .container {
    width: 838px;
    min-width: 720px;
  }
}
@media (width< 768px) {
  .container {
    min-width: 608px;
    max-width: 720px;
  }
}
@media (width<= 640px) {
  .container {
    min-width: 343px;
  }
}
.full-width-padd {
  width: 100%;
  padding: var(--margin);
}
@media (width>= 1024px) {
  .full-width-padd {
    padding: 32px;
  }
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
@media (width<= 640px) {
  .icon {
    width: 16px;
    height: 16px;
  }
}

.slider__list-temperature::after,
.temperature::after {
  content: '°';
}
.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.active-button {
  color: var(--color-font-main);
  text-decoration-color: var(--color-font-main);
  cursor: default;
}
