*,
::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img,
input,
button {
  font: inherit;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  box-shadow: none;
  outline: none;
}
li {
  list-style-type: none;
}
