:root {
  --color-font-main: #f5f4f4;
  --color-font-secondary: #707070;
  --bg-opacity: rgb(245 244 244 / 30%);

  --color-font-slider-el: #202020;

  --color-font-details: #202020;

  --color-accesability: orangered;
  --bg-gradient-line: radial-gradient(
    50% 9453.13% at 50% 50%,
    rgba(84, 84, 84, 0.4) 0%,
    rgba(138, 138, 138, 0.4) 45.12%,
    #dadada 100%,
    rgba(218, 218, 218, 0.4) 100%
  );

  --color-input-typing: #202020;
  --bg-input: #f5f4f466;
  --bg-input-active: #dadada;
  --bg-input-hover: #dadada;

  --button-color: #a6a6a6;
  --button-color-active: var(--color-font-main);

  --margin: 32px;
  --gap: 16px;
  --radius: 8px;
  --opacity: 0.5;
  --font-size-xl: 24px;
  --font-size-x: 20px;
  --font-size-m: 16px;
  --font-size-l: 12px;
  --slider-heigh: 64px;
}
@media (min-width: 886px) {
  body {
    min-width: 1280px;
    overflow-x: scroll;
  }
}

@media (max-width: 886px) {
  body {
    --font-size-xl: 24px;
    --font-size-x: 20px;
    --font-size-m: 16px;
    --font-size-l: 12px;
    --margin: 24px;
  }
}
@media (max-width: 768px) {
  body {
    --slider-heigh: 136px;
  }
}
@media (max-width: 640px) {
  body {
    --font-size-xl: 16px;
    --font-size-x: 14px;
    --font-size-m: 12px;
    --font-size-l: 10px;
    --margin: 16px;
    --slider-heigh: 48px;
  }
}
@media (max-width: 375px) {
  body {
    --slider-heigh: 104px;
  }
}
