:root {
  --color-font-main: #f5f4f4;
  --color-font-secondary: #707070;
  --bg-opacity: rgb(245 244 244 / 40%);

  --color-input-typing: #202020;

  --bg-input: #f5f4f466;

  --bg-input-active: #dadada;
  --bg-input-hover: #dadada;
  --margin: 32px;
  --radius: 8px;
  --opacity: 0.5;
}
