:root {
  --color-font-main: #f5f4f4;
  --color-font-secondary: #707070;
  --bg-opacity: rgb(245 244 244 / 40%);

  --color-input-typing: #202020;
  --bg-input-active: #dadada;

  --margin: 32px;
  --radius: 8px;
  --opacity: 0.5;
}

@media (max-width: 1280px) {
  body {
    overflow-x: scroll;
    width: 1280px;
  }
  .container {
    margin: auto 80px;
  }
}
